@import "../../../node_modules/weui/dist/style/weui.css";
@import "variables.less";

body
{
    background: @body-bg;
}

.rpm-app
{
    > header
    {
        h1
        {
            color: #225fba;
            text-align: center;
        }
    }
}

@import "monitor-scene.less";
